/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0 10px 5px;
}

p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 360px) {
  #restaurants img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* HEADER */
  header {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
  }
  #localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    background-color: grey;
    height: 30px;
    padding-top: 10px;
  }
  /* PRESENTATION */
  #presentation {
    margin: auto;
    text-align: center;
    height: 150px;
  }
  #presentation button {
    height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#584274));
    background: linear-gradient(#ff79da, #584274);
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    font-weight: bold;
    width: 70%;
    -webkit-box-shadow: 1px 5px 5px grey;
            box-shadow: 1px 5px 5px grey;
  }
  /*FONCTIONNEMENT*/
  .numero {
    position: absolute;
    margin-top: 12px;
    margin-left: -10px;
  }
  .numero img {
    width: 8%;
    height: 8%;
    filter: hue-rotate(60deg);
    -webkit-filter: hue-rotate(60deg);
  }
  .bouton {
    width: 90%;
    margin: auto;
  }
  .bouton button {
    height: 50px;
    background-color: lightgrey;
    border-radius: 20px;
    border: 0 solid white;
    font-weight: bold;
    font-size: 0.8em;
    -webkit-box-shadow: 1px 5px 5px grey;
            box-shadow: 1px 5px 5px grey;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .bouton button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .font i {
    color: grey;
  }
  .font3 i {
    color: #9356dc;
  }
  .font,
  .font3 {
    width: 20%;
  }
  #fonctionnement {
    margin: 30px 0 50px 0;
  }
  /* LISTE DES RESTAURANTS */
  .carte {
    -webkit-box-shadow: 1px 3px 3px lightgrey;
            box-shadow: 1px 3px 3px lightgrey;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  #restaurants img {
    border-radius: 20px 20px 0 0;
  }
  .carte h3 {
    margin-left: 10px;
    margin-bottom: 0;
  }
  .carte p {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .coeur {
    margin-left: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*FOOTER*/
  footer {
    background-color: #a9a9a9;
    margin-top: 30px;
    padding: 10px 10px 30px 5px;
    width: 100%;
  }
  footer p {
    color: white;
  }
  #logo_blanc {
    width: 25%;
    margin: 10px 0 10px 0;
  }
  .pied {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer p {
    width: 800%;
  }
  footer i {
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */