/* variables Sass */
/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0 10px 5px;
}

p {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */
header {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

#localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  background-color: lightgray;
  height: 30px;
  padding-top: 10px;
  width: 50%;
  margin: auto;
}

#localisation i {
  text-align: right;
  padding-right: 10px;
  width: 40%;
}

#localisation h5 {
  text-align: left;
  width: 40%;
}

header,
#localisation,
#presentation,
#fonctionnement,
#restaurants,
footer {
  -webkit-animation: loading 5s 0.1s;
          animation: loading 5s 0.1s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* PRESENTATION */
#presentation {
  margin: auto;
  text-align: center;
  height: 150px;
}

#presentation button {
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-radius: 50px;
  border: 0 solid white;
  font-weight: bold;
  width: 30%;
  -webkit-box-shadow: 1px 5px 5px lightgrey;
          box-shadow: 1px 5px 5px lightgrey;
  margin-top: 30px;
  opacity: 1;
}

#presentation button:hover {
  -webkit-box-shadow: 1px 5px 5px grey;
          box-shadow: 1px 5px 5px grey;
  opacity: 0.7;
}

/*FONCTIONNEMENT*/
.numero {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: -15px;
}

.numero img {
  width: 3%;
  height: 3%;
  filter: hue-rotate(60deg);
  -webkit-filter: hue-rotate(60deg);
}

.bouton button {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 0 solid white;
  font-weight: bold;
  font-size: 0.8em;
  -webkit-box-shadow: 1px 5px 3px lightgrey;
          box-shadow: 1px 5px 3px lightgrey;
  margin-bottom: 20px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.bouton:hover {
  display: block;
  -webkit-box-shadow: 1px 5px 5px grey;
          box-shadow: 1px 5px 5px grey;
  opacity: 0.8;
  border-radius: 20px;
}

.font i {
  color: grey;
}

.font3 i {
  color: #9356dc;
}

.font,
.font3 {
  width: 40%;
}

#fonctionnement {
  margin: 30px 0 50px 0;
}

#fonctionnement h3 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

#fonctionnement .bouton {
  width: 30%;
  margin: auto;
}

/* LISTE DES RESTAURANTS */
#entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carte {
  display: block;
  -webkit-box-shadow: 1px 3px 3px lightgrey;
          box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  width: 250px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.carte h4 {
  margin-left: 10px;
  margin-bottom: 0;
}

.carte p {
  margin-left: 10px;
  margin-bottom: 10px;
}

.carte .description {
  width: 70%;
}

.carte .description-nouveau {
  width: 70%;
  margin-top: 155px;
}

.carte .coeur {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.carte .coeur .far {
  text-align: right;
  position: relative;
  margin-right: 30px;
}

.carte .coeur .fas {
  position: absolute;
  margin-left: 29px;
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
}

.carte .coeur .fas:hover {
  background-color: #9356dc;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
}

.carte .coeur-nouveau {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-top: 155px;
}

.carte .coeur-nouveau .far {
  text-align: right;
  position: relative;
  margin-right: 30px;
}

.carte .coeur-nouveau .fas {
  position: absolute;
  margin-left: 29px;
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
}

.carte .coeur-nouveau:hover {
  background-color: #9356dc;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
}

.pleine-largeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.ecran-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#restaurants img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants h3 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

/*Nouveau sur l'image */
.superposition {
  position: relative;
}

.image {
  position: absolute;
  z-index: 1;
}

.nouveau p {
  position: absolute;
  z-index: 2;
  text-align: center;
  background-color: #99e2d0;
  color: #217e35;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 160px;
  border: 1px solid #99e2d0;
  border-radius: 3px;
  width: 70px;
  padding: 5px 5px;
}

/* LOADING SPINNER */
.loader {
  color: #ff79da;
  font-size: 20px;
  margin: 20px auto;
  width: 0.3em;
  height: 0.3em;
  zoom: 2;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spinner 5s 0.1s linear;
  animation: spinner 5s 0.1s linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes spinner {
  0%,
  100% {
    -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes spinner {
  0%,
  100% {
    -webkit-box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    -webkit-box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    -webkit-box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    -webkit-box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    -webkit-box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    -webkit-box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/*FOOTER*/
footer {
  background-color: #202020;
  margin-top: 30px;
  padding: 10px 10px 30px 20px;
  width: 100%;
  margin: auto;
}

footer p {
  color: white;
  width: 97%;
}

footer i {
  color: white;
  width: 3%;
}

footer h2 {
  font-size: large;
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 10px 0 20px 0;
}

footer a:link {
  color: white;
}

.pied {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 415px) {
  /* HEADER */
  header {
    height: 30px;
  }
  #localisation {
    height: 25px;
    width: 100%;
  }
  /* PRESENTATION */
  #presentation button {
    width: 70%;
  }
  /*FONCTIONNEMENT*/
  .numero {
    margin-top: 12px;
    margin-left: -10px;
  }
  .numero img {
    width: 8%;
    height: 8%;
  }
  .font,
  .font3 {
    width: 20%;
  }
  #fonctionnement h3 {
    text-align: left;
    margin-bottom: 20px;
  }
  #fonctionnement .bouton {
    width: 90%;
  }
  /* LISTE DES RESTAURANTS */
  .carte {
    width: 100%;
    margin-bottom: 20px;
  }
  .carte h3 {
    margin-left: 10px;
    margin-bottom: 0;
    text-align: left;
  }
  .carte p {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .carte .coeur {
    margin-left: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #restaurants h3 {
    text-align: left;
  }
  #restaurants img {
    height: 150px;
  }
  .ecran-large {
    display: block;
  }
  .nouveau p {
    margin-left: 70%;
  }
  /* FOOTER */
  footer {
    width: 100%;
  }
  footer i {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */