/* variables Sass */
/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

h2 {
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

h5 {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 100;
  color: black;
}

p {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  color: white;
}

/* HEADER */
header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .font {
  width: 40%;
  margin-left: 20px;
}

header .font i {
  color: grey;
}

header #logo {
  width: 60%;
}

header img {
  width: 30%;
}

/* MENUS */
.hero {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  background-color: whitesmoke;
  border-top: 1px solid grey;
  border-radius: 20px;
  margin-top: -50px;
  position: relative;
}

#menu .pleine-largeur1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
}

#menu .pleine-largeur1 i {
  text-align: right;
  margin-right: 20px;
  width: 20%;
}

#menu .pleine-largeur1 h1 {
  width: 80%;
}

#menu h2 {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}

.pleine-largeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pleine-largeur i {
  text-align: right;
  margin-right: 20px;
  width: 20%;
}

.pleine-largeur h1 {
  width: 80%;
}

.carte {
  border: 0px solid lightgray;
  -webkit-box-shadow: 1px 3px 3px lightgrey;
          box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  height: 50px;
  width: 60%;
  padding-top: 10px;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
}

.carte h4 {
  margin-left: 10px;
}

.carte h5 {
  margin-left: 10px;
  margin-top: 5px;
}

.carte .pleine-largeur {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.titre {
  width: 80%;
}

.prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10px;
  padding-right: 25px;
  width: 20%;
}

.bouton {
  margin-top: 40px;
  padding-bottom: 40px;
}

button {
  height: 40px;
  width: 25%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-radius: 50px;
  border: 0 solid white;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  display: block;
  margin: auto;
}

/*FOOTER*/
footer {
  background-color: #202020;
  padding: 10px 10px 30px 20px;
  position: absolute;
}

footer p {
  color: white;
  width: 98%;
}

footer i {
  color: white;
  width: 2%;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 10px 0 10px 0;
  text-transform: none;
  font-size: large;
  text-align: left;
}

.pied {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 360px) {
  /* HEADER */
  header {
    height: 30px;
  }
  header img {
    width: 60%;
  }
  header .font {
    width: 30%;
  }
  header #logo {
    width: 70%;
  }
  /* MENUS */
  .hero {
    height: 100%;
  }
  #menu h2 {
    text-align: left;
    border-bottom: 3px solid #99e2d0;
    width: 10%;
    margin-left: 10px;
  }
  #menu .pleine-largeur1 {
    width: 100%;
    margin: 0;
  }
  .carte {
    width: 100%;
    margin: 15px 10px 10px 10px;
  }
  .carte h4 {
    margin-left: 10px;
    margin-bottom: 0;
    text-align: left;
  }
  .carte h5 {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .carte .coeur {
    margin-left: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  button {
    width: 50%;
  }
  /* FOOTER */
  footer {
    width: 100%;
  }
  footer i {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=pages.css.map */