/* variables Sass */
$color-violet: #9356dc;
$color-rose: #ff79da;
$color-bleu: #99e2d0;

/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
h2 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0 10px 5px;
}
p {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}

/* HEADER */
header {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}
#localisation {
  display: flex;
  font-weight: bold;
  background-color: lightgray;
  height: 30px;
  padding-top: 10px;
  width: 50%;
  margin: auto;

  i {
    text-align: right;
    padding-right: 10px;
    width: 40%;
  }
  h5 {
    text-align: left;
    width: 40%;
  }
}
header,
#localisation,
#presentation,
#fonctionnement,
#restaurants,
footer {
  animation: loading 5s 0.1s;
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* PRESENTATION */
#presentation {
  margin: auto;
  text-align: center;
  height: 150px;

  button {
    height: 40px;
    background: linear-gradient($color-rose, $color-violet);
    color: white;
    border-radius: 50px;
    border: 0 solid white;
    font-weight: bold;
    width: 30%;
    box-shadow: 1px 5px 5px lightgrey;
    margin-top: 30px;
    opacity: 1;

    &:hover {
      box-shadow: 1px 5px 5px grey;
      opacity: 0.7;
    }
  }
}

/*FONCTIONNEMENT*/
.numero {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: -15px;

  img {
    width: 3%;
    height: 3%;
    filter: hue-rotate(60deg);
    -webkit-filter: hue-rotate(60deg);
  }
}
.bouton button {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 0 solid white;
  font-weight: bold;
  font-size: 0.8em;
  box-shadow: 1px 5px 3px lightgrey;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  opacity: 1;
}
.bouton:hover {
  display: block;
  box-shadow: 1px 5px 5px grey;
  opacity: 0.8;
  border-radius: 20px;
}

.font i {
  color: grey;
}
.font3 i {
  color: $color-violet;
}
.font,
.font3 {
  width: 40%;
}

#fonctionnement {
  margin: 30px 0 50px 0;

  h3 {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  .bouton {
    width: 30%;
    margin: auto;
  }
}

/* LISTE DES RESTAURANTS */
#entrees {
  display: flex;
}
.carte {
  display: block;
  box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  width: 250px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;

  h4 {
    margin-left: 10px;
    margin-bottom: 0;
  }

  p {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .description {
    width: 70%;
  }
  .description-nouveau {
    width: 70%;
    margin-top: 155px;
  }
  .coeur {
    margin-bottom: 10px;
    display: flex;
    width: 30%;

    .far {
      text-align: right;
      position: relative;
      margin-right: 30px;
    }

    .fas {
      position: absolute;
      padding-left: 29px;
      background-color: white;
      background-clip: text;
      -webkit-background-clip: text;
      background-size: cover;
      color: transparent;

      &:hover {
        background-color: $color-violet;
        background-clip: text;
        -webkit-background-clip: text;
        background-size: cover;
        color: transparent;
      }
    }
  }
  .coeur-nouveau {
    margin-bottom: 10px;
    display: flex;
    width: 30%;
    margin-top: 155px;

    .far {
      text-align: right;
      position: relative;
      margin-right: 30px;
    }

    .fas {
      position: absolute;
      margin-left: 29px;
      background-color: white;
      background-clip: text;
      -webkit-background-clip: text;
      background-size: cover;
      color: transparent;
    }

    &:hover {
      background-color: $color-violet;
      margin-left: 30px;
      background-clip: text;
      -webkit-background-clip: text;
      background-size: cover;
      color: transparent;
    }
  }
}

.pleine-largeur {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  z-index: 2;
}
.ecran-large {
  display: flex;
  flex-wrap: wrap;
}
#restaurants img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
#restaurants h3 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

/*Nouveau sur l'image */
.superposition {
  position: relative;
}
.image {
  position: absolute;
  z-index: 1;
}
.nouveau p {
  position: absolute;
  z-index: 2;
  text-align: center;
  background-color: $color-bleu;
  color: rgb(33, 126, 53);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 160px;
  border: 1px solid $color-bleu;
  border-radius: 3px;
  width: 70px;
  padding: 5px 5px;
}

/* LOADING SPINNER */

.loader {
  color: $color-rose;
  font-size: 20px;
  margin: 20px auto;
  width: 0.3em;
  height: 0.3em;
  zoom: 2;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spinner 3s 0.1s linear;
  animation: spinner 3s 0.1s linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes spinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes spinner {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/*FOOTER*/
footer {
  background-color: rgb(32, 32, 32);
  margin-top: 30px;
  padding: 10px 10px 30px 20px;
  width: 100%;
  margin: auto;

  p {
    color: white;
    width: 97%;
  }

  i {
    color: white;
    width: 3%;
  }
  h2 {
    font-size: large;
    font-family: "Shrikhand", cursive;
    color: white;
    margin: 10px 0 20px 0;
  }
  a:link {
    color: white;
  }
}
.pied {
  display: flex;
}

@media only screen and (max-width: 415px) {
  /* HEADER */
  header {
    height: 30px;
  }
  #localisation {
    height: 25px;
    width: 100%;
  }

  /* PRESENTATION */
  #presentation {
    button {
      width: 70%;
    }
  }

  /*FONCTIONNEMENT*/

  .numero {
    margin-top: 12px;
    margin-left: -10px;

    img {
      width: 8%;
      height: 8%;
    }
  }
  .font,
  .font3 {
    width: 20%;
  }

  #fonctionnement {
    h3 {
      text-align: left;
      margin-bottom: 20px;
    }
    .bouton {
      width: 90%;
    }
  }

  /* LISTE DES RESTAURANTS */
  .carte {
    margin-bottom: 20px;
    margin: auto;

    h3 {
      margin-left: 10px;
      margin-bottom: 0;
      text-align: left;
    }

    p {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .coeur {
      margin-bottom: 10px;
      display: flex;
    }
  }
  #restaurants h3 {
    text-align: left;
  }

  #restaurants img {
    height: 150px;
  }
  .ecran-large {
    display: block;
  }
  .nouveau p {
    margin-left: 70%;
  }

  /* FOOTER */
  footer {
    width: 100%;
    i {
      padding-right: 10px;
    }
  }
}
