/* variables Sass */
$color-violet: #9356dc;
$color-rose: #ff79da;
$color-bleu: #99e2d0;

/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1em;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}
h2 {
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  color: black;
}
h5 {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 100;
  color: black;
}

a {
  text-decoration: none;
  color: black;

  &:link {
    color: white;
  }
}

/* HEADER */
header {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  display: flex;
  align-items: flex-start;

  img {
    width: 80%;
  }
}
.font {
  width: 20%;
  margin: auto;
}

/* MENUS */
#menu {
  background-color: whitesmoke;
  border-top: 1px solid grey;
  border-radius: 20px;
  margin-top: -50px;
  position: relative;
}
.pleine-largeur {
  display: flex;
  align-items: center;

  i {
    text-align: right;
    margin-right: 20px;
  }
}
#trait {
  border-bottom: 3px solid $color-bleu;
  width: 10%;
  margin-left: 10px;
}

.carte {
  border: 0px solid lightgray;
  box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 60%;
  margin: 15px 10px 10px 10px;
  background-color: white;

  h4 {
    margin-left: 10px;
    margin-bottom: 0;
  }

  h5 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .pleine-largeur {
    align-items: flex-end;
  }
}

.prix {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-right: 25px;
}

button {
  height: 40px;
  width: 30%;
  background: linear-gradient($color-rose, $color-violet);
  color: white;
  border-radius: 50px;
  border: 0 solid white;
  font-weight: bold;
  box-shadow: 1px 5px 5px grey;
  margin-top: 20px;
}

/*FOOTER*/
footer {
  background-color: rgb(32, 32, 32);
  margin-top: 30px;
  padding: 10px 10px 30px 20px;
  width: 75%;
  margin: auto;

  p {
    color: white;
    width: 95%;
  }

  i {
    color: white;
    width: 5%;
  }

  h3 {
    font-family: "Shrikhand", cursive;
    color: white;
    margin: 10px 0 10px 0;
  }
}
.pied {
  display: flex;
}

@media only screen and (max-width: 360px) {
  /* HEADER */
  header {
    height: 30px;
  }

  /* MENUS */
  .carte {
    width: 100%;

    h4 {
      margin-left: 10px;
      margin-bottom: 0;
      text-align: left;
    }

    h5 {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .coeur {
      margin-left: 10px;
      margin-bottom: 10px;
      display: flex;
    }
  }

  /* FOOTER */
  footer {
    width: 100%;
    i {
      padding-right: 10px;
    }
  }
}
