/* variables Sass */
$color-violet: #9356dc;
$color-rose: #ff79da;
$color-bleu: #99e2d0;

/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}
h2 {
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  color: black;
}
h5 {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 100;
  color: black;
}
p {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;

  &:link {
    color: white;
  }
}

/* HEADER */
header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .font {
    width: 40%;
    margin-left: 20px;

    i {
      color: grey;
    }
  }

  #logo {
    width: 60%;
  }

  img {
    width: 30%;
  }
}

/* MENUS */
.hero {
  height: 400px;
  object-fit: cover;
}
#menu {
  background-color: whitesmoke;
  border-top: 1px solid grey;
  border-radius: 20px;
  margin-top: -50px;
  position: relative;

  .ecran-large {
    display: flex;
    height: 300px;
  }

  .pleine-largeur1 {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;

    i {
      text-align: right;
      margin-right: 20px;
      width: 20%;
    }
    h1 {
      width: 80%;
    }
  }

  h2 {
    border-bottom: 3px solid $color-bleu;
    padding-bottom: 5px;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
  }
}
.pleine-largeur {
  display: flex;
  align-items: center;

  i {
    text-align: right;
    margin-right: 20px;
    width: 20%;
  }
  h1 {
    width: 80%;
  }
}
@keyframes coeur-plein {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.far {
  position: absolute;
}
.pleine-largeur1 .fas {
  position: absolute;
  background-color: $color-violet;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  visibility: hidden;
}
.pleine-largeur1 .fas:hover {
  visibility: visible;
  animation: coeur-plein;
}
.carte {
  border: 0px solid lightgrey;
  box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  height: 20%;
  width: 95%;
  padding-top: 10px;
  margin: auto;
  background-color: white;
  margin-bottom: 10px;

  h4 {
    margin-left: 10px;
  }

  h5 {
    margin-left: 10px;
    margin-top: 5px;
  }

  .pleine-largeur {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .fas {
      background-color: $color-bleu;
      width: 10%;
      height: 65px;
      display: flex;
    }
    .pleine-largeur:hover .fas {
      visibility: visible;
    }
  }
}
.titre {
  overflow: visible;
  width: 80%;
  &:hover {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.prix {
  justify-content: flex-end;
  margin: auto;
  width: 20%;
}

.bouton {
  margin-top: 70px;
  padding-bottom: 40px;
}
button {
  height: 40px;
  width: 25%;
  background: linear-gradient($color-rose, $color-violet);
  color: white;
  border-radius: 50px;
  border: 0 solid white;
  font-weight: bold;
  box-shadow: 5px 5px 5px lightgrey;
  display: block;
  margin: auto;
  opacity: 1;

  &:hover {
    box-shadow: 1px 5px 5px grey;
    opacity: 0.7;
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
.validation .fas:hover {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.progress-entrees {
  animation: progress 2000ms 100ms;
}

@keyframes progress {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

/*FOOTER*/
footer {
  background-color: rgb(32, 32, 32);
  padding: 10px 10px 30px 20px;
  position: absolute;

  p {
    color: white;
    width: 98%;
  }

  i {
    color: white;
    width: 2%;
  }

  h2 {
    font-family: "Shrikhand", cursive;
    color: white;
    margin: 10px 0 20px 0;
    text-transform: none;
    font-size: large;
    text-align: left;
  }
}
.pied {
  display: flex;
}

@media only screen and (max-width: 415px) {
  /* HEADER */
  header {
    height: 30px;

    img {
      width: 60%;
    }
    .font {
      width: 30%;
    }

    #logo {
      width: 70%;
    }
  }

  /* MENUS */
  .hero {
    height: 100%;
  }
  #menu h2 {
    text-align: left;
    border-bottom: 3px solid $color-bleu;
    width: 10%;
    margin-left: 10px;
  }
  #menu .pleine-largeur1 {
    width: 100%;
    margin: 0;
  }
  #menu .ecran-large {
    display: block;
    height: auto;
  }

  .carte {
    width: 100%;
    margin: 15px 10px 10px 10px;

    h4 {
      margin-left: 10px;
      margin-bottom: 0;
      text-align: left;
    }

    h5 {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .coeur {
      margin-left: 10px;
      margin-bottom: 10px;
      display: flex;
    }
  }
  .bouton {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  button {
    width: 50%;
  }

  /* FOOTER */
  footer {
    width: 100%;
    i {
      padding-right: 10px;
    }
  }
}

/* display cartes */
@media only screen and (min-width: 415px) and (max-width: 885px) {
  .ecran-large {
    height: auto;
  }
  .carte {
    height: auto;
  }
}
