/* Toutes les sections */
#localisation {
  display: flex;
  font-weight: bold;
  background-color: lightgray;
  height: 30px;
  padding-top: 10px;
  width: 50%;
  margin: auto;

  i {
    text-align: right;
    padding-right: 10px;
    width: 40%;
  }
  h5 {
    text-align: left;
    width: 40%;
  }
}
#presentation {
  height: auto;
}

/*FONCTIONNEMENT*/
.numero {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: -10px;

  img {
    width: 2%;
    height: 2%;
    filter: hue-rotate(60deg);
    -webkit-filter: hue-rotate(60deg);
  }
}
#fonctionnement {
  margin: 30px 0 50px 0;

  h4 {
    text-align: left;
    font-size: 1em;
    margin-bottom: 1px;
  }

  .bouton {
    width: 30%;
    margin: auto;
  }
  &:hover i {
    color: $color-violet;
  }
}

/* LISTE DES RESTAURANTS */
#entrees {
  display: flex;
}
.carte {
  display: block;
  box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  width: 250px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;

  h4 {
    margin-left: 10px;
    margin-bottom: 0;
  }

  p {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .description {
    width: 70%;
  }
  .description-nouveau {
    width: 70%;
    margin-top: 155px;
  }
  .coeur {
    margin-bottom: 10px;
    display: flex;
    width: 30%;

    .far {
      text-align: right;
      position: relative;
      margin-right: 30px;
    }

    .fas {
      position: absolute;
      padding-left: 29px;
      opacity: 0;

      &:hover {
        color: $color-violet;
        opacity: 1;
      }
    }
  }
  .coeur-nouveau {
    margin-bottom: 10px;
    display: flex;
    width: 30%;
    margin-top: 155px;

    .far {
      text-align: right;
      position: relative;
      margin-right: 30px;
    }

    .fas {
      position: absolute;
      margin-left: 29px;
      opacity: 0;

      &:hover {
        color: $color-violet;
        margin-left: 29px;
        opacity: 1;
      }
    }
  }
}

.pleine-largeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.ecran-large {
  display: flex;
  flex-wrap: wrap;
}
#restaurants img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
#restaurants h3 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

/*Nouveau sur l'image */
.superposition {
  position: relative;
}
.image {
  position: absolute;
  z-index: 1;
}
.nouveau {
  position: absolute;
  z-index: 2;
  background-color: $color-bleu;
  margin-top: 10px;
  margin-left: 160px;
  border: 1px solid $color-bleu;
  border-radius: 3px;
  width: 80px;
  height: 25px;
}
.nouveau p {
  color: rgb(33, 126, 53);
  font-weight: bold;
  align-items: center;
  padding-top: 2px;
}
