* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
h2 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0 10px 5px;
}
p {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}
