@import "../utils/variables";
@import "../utils/animations";
@import "../layout/footer";

/* GENERAL */
* {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  color: black;
}
h5 {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 100;
  color: black;
}
p {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;

  &:link {
    color: white;
  }
}

/* HEADER */
header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .font {
    width: 40%;
    margin-left: 20px;

    i {
      color: grey;
    }
  }

  #logo {
    width: 60%;
  }

  img {
    width: 30%;
  }
}

/* MENUS */
.hero {
  height: 400px;
  object-fit: cover;
}
#menu {
  background-color: whitesmoke;
  border-top: 1px solid grey;
  border-radius: 20px;
  margin-top: -50px;
  position: relative;

  .ecran-large {
    display: flex;
    height: 300px;
  }

  .menu__coeurs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: auto;

    i {
      text-align: right;
      margin-right: 20px;
      width: 20%;
    }
    h1 {
      width: 80%;
    }
  }

  .ecran-large h2 {
    border-bottom: 3px solid $color-bleu;
    padding-bottom: 5px;
    width: 100px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-transform: uppercase;
  }
}

.far {
  position: absolute;
}
.menu__coeurs .fas {
  position: absolute;
  opacity: 0;
}
.menu__coeurs .fas:hover {
  position: absolute;
  opacity: 1;
  color: $color-violet;
}
.carte {
  cursor: pointer;
  border: 0px solid lightgrey;
  box-shadow: 1px 3px 3px lightgrey;
  border-radius: 20px;
  max-height: 100px;
  width: 95%;
  margin: auto;
  background-color: white;
  margin-bottom: 10px;

  h4 {
    margin-left: 10px;
  }

  h5 {
    margin-left: 10px;
    margin-top: 5px;
  }
}
.pleine-largeur {
  display: flex;
  align-items: center;
  .titre {
    width: 80%;
    margin-left: 10px;
  }
  .prix {
    width: 20%;
    text-align: right;
  }
}
h4,
h5 {
  display: block;
  width: 180px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    overflow: hidden;
  }
}
.validation {
  display: flex;
  width: 40px;

  .fas {
    background-color: $color-bleu;
    color: white;
    max-height: fit-content;
    align-items: center;
    display: flex;
    opacity: 0;
    padding: 30%;
  }
}
.coche {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.carte:hover .coche {
  background-color: $color-bleu;
  transition-duration: 1.5s;
  animation-iteration-count: 0;
}
.carte:hover .fas {
  opacity: 1;
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.carte:hover .prix {
  -webkit-animation: slide-left-prix 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-left-prix 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.carte:hover h4 {
  overflow: hidden;
}
.carte:hover h5 {
  overflow: hidden;
}
.bouton {
  margin-top: 70px;
  padding-bottom: 40px;
}
button {
  height: 40px;
  width: 25%;
  background: linear-gradient($color-rose, $color-violet);
  color: white;
  border-radius: 50px;
  border: 0 solid white;
  font-weight: bold;
  box-shadow: 1px 5px 5px lightgrey;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  opacity: 1;

  &:hover {
    box-shadow: 1px 5px 5px grey;
    opacity: 0.7;
  }
}

@media only screen and (max-width: 900px) {
  /* HEADER */
  header {
    height: 30px;

    img {
      width: 60%;
    }
    .font {
      width: 30%;
    }

    #logo {
      width: 70%;
    }
  }

  /* MENUS */
  .hero {
    height: 100%;
  }
  #menu h2 {
    text-align: left;
    border-bottom: 3px solid $color-bleu;
    width: 10%;
    margin-left: 10px;
  }
  #menu .menu__coeurs {
    width: 100%;
    i {
      width: 100%;
    }
  }
  #menu .ecran-large {
    display: block;
    height: auto;
  }

  .carte {
    width: 100%;
    margin: 15px 10px 10px 10px;

    h4 {
      margin-left: 10px;
      margin-bottom: 0;
      text-align: left;
    }

    h5 {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .coeur {
      margin-left: 10px;
      margin-bottom: 10px;
      display: flex;
    }
  }
  .bouton {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  button {
    width: 50%;
  }

  /* FOOTER */
  footer {
    width: 100%;
    i {
      padding-right: 10px;
    }
  }
}
